<!DOCTYPE html>
<html lang="zh-Hant">
<%- include('head') %>
<body>
    <%- include('header') %>
    <div class="container">
        <h2>所有商品</h2>
        <%- include('product_list') %>
    </div>
</body>
</html>